/*initial styling*/
body {
    background-color: #DBB116;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    color: #078F7A;
}
/*header styling*/
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100px;
    background-color: #8F0E8F;
    width: 100%;
    position: relative;
    margin: 0;
}
/*footer styling*/
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    background-color: #8F0E8F;
    width: 100%;
    bottom: 0;
}

#footer i {
    font-size: 2rem;
    padding: 0 50px 0 50px;
}
/*main menu button styling*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

}

button {
    width: 33%;
    height: 55px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 25%;
    margin-bottom: 100px;
    border: #DB01DB 5px solid;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    background-color: #16DBBE;
    font-family: 'Share Tech Mono', monospace;
    color: #DB01DB;
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
/*game area styling*/
#fullscreen-container {
    height: auto;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

#usernamedisplay {
    position: absolute;
    display: block;
    left: 0;
    padding-left: 10px;
}

.timer {
    position: absolute;
    display: block;
    right: 0;
    padding-right: 10px;
}

.menu {
    position: absolute;
    top: 102px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#usernamewindow {
    position: absolute;
    top: 50%;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8F0E8F;
    border: #078F7A 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    height: 60px;
    padding-top: 20px;
}

.usernamewindow input {
    border: #078F7A 2px solid;
}

.tiles {
    top: 50px;
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
    position: relative;
}

.tile {
    height: 100px;
    background: #11111125;
    border: 5px solid #444444;
    cursor: pointer;
    border-radius: 10px;
}

/*Hi scores content styling*/

.highscores {
    position: absolute;
    top: 157px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/*help content styling*/
.helptext-container {
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 10px 10px 100px;
    
}

.helptext-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

.helptext-container h2 {
    margin: 0;
    text-align: center;
}

/* Media queries*/

@media only screen and (max-width: 475px) {
    #fullscreen-container {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10vh;
    
    }
    
    .tiles {
        top: 15vh;
        margin: 0 auto;
        width: max-content;
        display: grid;
        grid-template-columns: repeat(4, 60px);
        gap: 15px;
        position: relative;
    }


    .tile {
        height: 60px;
        background: #11111125;
        border: 2px solid #444444;
        cursor: pointer;
        border-radius: px;
    }

    #usernamewindow {
        position: absolute;
        top: 50%;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #8F0E8F;
        border: #078F7A 2px solid;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        height: 50px;
        padding-top: 10px;
    }
    
    .usernamewindow input {
        border: #078F7A 2px solid;
    }
  }

  @media only screen and (max-width: 320px) {
    #header img {
        width: 30px;
        height: 30px;
    }

    #header h1 {
        font-size: 1.5em;
    }

    #header {
        height: 50px;  
    }

    #footer {
        height: 50px; 
    }
    
    #footer i {
        font-size: 1.5rem;
        padding: 0 25px 0 25px;
    }

    button {
        width: 40%;
        height: 55px;
        margin-bottom: 35px;      
        top: 25px;
    }

    .menu {
        top: 55px;
        width: 70px;
        height: 50px;
        font-size: 1rem;
    }
    
    .tiles {
        top: 15vh;
    }

    .tile {
        height: 50px;
        width: 50px;
    }

    #usernamewindow {
        top: 33%;
    }
    
    .usernamewindow input {
        border: #078F7A 2px solid;
    }
  }





  