body {
    background-color: #DBB116;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    color: #078F7A;
}

#fullscreen-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100px;
    background-color: #8F0E8F;
    width: 100%;
    position: relative;
    margin: 0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    background-color: #8F0E8F;
    width: 100%;
    margin: 0;
    bottom: 0;
}

#footer i {
    font-size: 2rem;
    padding: 0 50px 0 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;

}

button {
    width: 33%;
    height: 55px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 25%;
    margin-bottom: 100px;
    border: #DB01DB 5px solid;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    background-color: #16DBBE;
    font-family: 'Share Tech Mono', monospace;
    color: #DB01DB;
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.helptext-container {
    margin-right: 25%;
}

.helptext-container h1 {
    text-align: center;
    margin-bottom: 100px;
}

.helptext-container h2 {
    margin: 50px 0 50px 0;
}

.tiles {
    top: 50px;
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
    position: relative;
}

.tile {
    height: 100px;
    background: #11111111;
    border: 5px solid #444444;
    cursor: pointer;
}